body{
    background-color: rgb(47, 47, 47);
}

.rectangle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px; 
        height: 300px;  
        background-image: url(https://us.123rf.com/450wm/wklzzz/wklzzz1605/wklzzz160500202/56878450-feuilles-de-lierre-isol%C3%A9s-sur-fond-blanc.jpg?ver=6);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 4px 4px 10px gray;
        margin-top: 5%;
        margin-left: 35%;
        transform: rotate(15deg);
}

.rectangle2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; 
    height: 300px;  
    background-image: url(https://us.123rf.com/450wm/wklzzz/wklzzz1605/wklzzz160500202/56878450-feuilles-de-lierre-isol%C3%A9s-sur-fond-blanc.jpg?ver=6);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 10px gray;
    margin-top: 2%;
    margin-left: 35%;
    transform: rotate(15deg);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, auto); /* Deux colonnes de largeur automatique */
    gap: 10px; /* Espacement entre les éléments */
}
.grid-container2 {
    display: grid;
    grid-template-columns: repeat(1, auto); /* Deux colonnes de largeur automatique */
    gap: 10px; /* Espacement entre les éléments */
}

.row-1 {
    /* La première rangée a 4 colonnes */
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes égales */
    gap: 10px; /* Espacement entre les éléments de la première rangée */
}

.row-2 {
    /* La deuxième rangée est à côté de la première */
    grid-column: span 1; /* Cette rangée s'étend sur 1 colonne */
    gap: 10px; /* Espacement entre les éléments de la deuxième rangée */
    margin-bottom: 200px;
}

.col-1 {
    /* padding: 10px; Espace intérieur */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 15px;
    
    
}

.numero{
    /* margin-right: 50px;
    margin-bottom: 50px; */
    /* margin: -100px 0 0 -20px;  ya moyen c ca     */
    margin-top: -100px;
    margin-right: 70px;
    
}

.col-2 {
    /* padding: 10px; Espace intérieur */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 12px;
    
}

.outlook{
    margin: -10px 0 0 12px;
}

.mail{
    margin: -20px;
    padding-right: 10px;
}

.col-3 {
    /* padding: 10px; Espace intérieur */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 12px;    
}

.site{
    margin: 5px 0 0 0px;
}

.col-4 {
    /* padding: 10px; Espace intérieur */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 12px;    
}

.itin{
    margin: 0px 0 0 0px;
}




/* .outlook{
    margin-right: 50px;
    padding-bottom: 80px;
} */







.col-5 {
    padding: 10px; /* Espace intérieur */
    padding-top: 200px;
    direction: rtl;
    font-family: 'Croissant One', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pixelify Sans', cursive;
}




